@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fredoka+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fredoka+One&family=Pacifico&family=Tai+Heritage+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
   
}
body {
    background: linear-gradient(#00008B, #0000EE, #00008B);
}
.vip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFD700;
    height: 60px;
    box-shadow: 2px 2px 3px #fff;
}
.area_menu {
    display: flex;
}

.nav-menu {
    list-style: none;
}

.nav-itens {
    display: inline-block;
    position: relative;
    top: ;
    transition: 1s;
    
    
}
nav ul li:hover {
    background: #fff;
     border-radius: 10px;
}
nav ul li a {
    padding: 10px;
    color: #0000ff;
    text-decoration: none;
    font-family: Fredoka One, sans-serif;
    font-size: 1.2rem;
}
nav ul li a:hover {
    color: #0b0bac;
}
h2.propag {
    font-family: Fredoka One, sans-serif;
    text-shadow: 2px 2px 3px #fff;
    color: #0b0bb6;
 }
section.area_menu .menu  {
    display: flex;
    justify-content: right;
}
.menu ul {
    
    list-style: none;
    margin-right: 30px;
}
.menu ul li {
    display: inline-block;
    
   transition: 1s;
    
}
.menu ul li:hover {
    background: #fff;
    border-radius: 10px;
}

.menu ul li a{
    padding: 10px;
    text-decoration: none;
    color: #0000ff;
    font-family: Fredoka One, sans-serif;
    font-size: 1.2rem;
}
.menu ul li a:hover {
    color: #0b0bac;
}

.hamburguer { /* pai-menu hamburguer */
    display: none;
    cursor: pointer;
}
.bar { /* filhos-menu hamburguer */
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #0000EE;
    transition: all 0.3s ease-in-out;
}

.logo { /*primeiro h1 */
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

h1{ 
    text-align: center;
    color: #FFD700;
    margin-left: 10px;
    font-size: 4rem;
    text-shadow: 3px 3px 3px #4876FF;
    font-family: Fredoka One, sans-serif;
 } /* primeiro h1 */
 
p {
display: flex;
color: white;
font-size: 1.5em;
text-align: justify;
margin-left: 25px;
position: relative;
top: -350px;
text-shadow: 2px 2px 2px yellow;
}

figure {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
 }

.soni_star  {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    background: #FFD700;
    border-radius: 50%;
}
.img1 img {
    width: 12rem;
}
section.coment {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
 }   

p.pri {
    width: 320px;
    height: 100px;
    font-size: 1.6rem;
    margin-left: 50px;
}
p.seg {
    width: 320px;
    height: 100px;
    font-size: 1.6rem;
   margin-right: 50px;
    
}

#inform{
    display: flex;
    justify-content: center;
     margin-top: 180px;
}
#inform p {
    display: flex;
    font-size: 2.5rem;
    font-family: Fredoka One;
   
}
#imagen1 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 70px;
   
 }
#imagen1 img{
    position: absolute;
    top: -300px;
    width: 20rem;
 }
.imagen2 {
    display: flex;
    justify-content: space-around;
    margin-top: px;

}
.imagen2 img {
    transition: transform 0.2s;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
    border-radius: 10px;
}
.imagen2 img:hover {
    transform: scale(1.2); 
}
#logo2 {
display: flex;
justify-content: center;
margin-top: 100px;

}
#logo2 img{
     transition: transform 0.5s;
     cursor: pointer;
    
}
#logo2 img:hover {
    transform: rotateZ(360deg);
}

h3#mt  {
    text-align: center;
     color: #FF0000;
    font-size: 3rem;
    text-shadow: 5px 5px 5px black;
    font-family: Bold 700;
    margin-top: 50px;
}


.imagen3 {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.imagen3 img {
    transition: transform 0.2s;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
    border-radius: 10px;
}
.imagen3 img:hover {
    transform: scale(1.2); 
}


#logo3 {  /* logotipo mario*/
    display: flex;
    justify-content: center;
}
#logo3 img {
    margin-top: 100px;
    width: 20rem;
    transition: transform 0.2s;
}
#logo3 img:hover {
    transform: scale(1.2); 
}       /*logotipo mario */


.imagen4 {  /*imagens mario */
    display: flex;
    justify-content: space-around;
}
.imagen4 img {  
     border: 2px solid #fff;
     border-radius: 10px;
     box-shadow: 3px 3px 4px black;
     transition: transform 0.2s;
     cursor: pointer;
     margin-top: 100px;
}      
.imagen4 img:hover {
    transform: scale(1.2); 
}     /*imagens mario*/

#alta h1{ /*  segundo h1 */
    text-align: center;
}       
#alta h1 {
    margin-top: 100px;
} /*  segundo h1 */


 #container { /* formulario cadastro */
    display: flex;
    justify-content: center;
 }
 #form {  
    width: 400px;
    height: 300px;
    border: 3px solid yellow;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -150px;
    border-radius: 10px;
    background: #0000EE;
 }
 input {
    margin: 10px;
 }
 .cadastro {
    position: relative;
    bottom: -50px;
    
 }
 .cadastro input {
    border-radius: 10px;
    background: #FFD700;
    color: darkblue;
 }
 #realize {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 #realize h1 {
    font-size: 2rem;
    position: relative;
    text-align: justify;
    
 }
 .cadastro #btn {
    display: flex;
    justify-content: center;
    
 }
 #btn button{
    border-radius: 5px;
     background: #4876FF;
     cursor: pointer;
      
 }
 #btn button:hover {
 background: #00008B;
 color: #FFFFFF;
 }
 .btn2 {
    display: flex;
    justify-content: center;
 }
 .btn2 a {
    color: #FFD700;
    position: relative;
    bottom: -10px;
    
 }
 .btn2 a:hover {
    color: #FFFFFF;
 }  /* formulario cadastro */


 #out {  /*volta ao home */
    display: flex;
    justify-content: right;
 }
 #out a {
    color: white;
    position: relative;
    right: -60px;
    top: -20px;
    text-decoration: none;
    transition: transform 0.2s;
 }
 #out a:hover {
    transform: scale(1.2); 
 }  /* volta ao home */


 .imagen5 {
    display: flex;
    justify-content: space-around;
 }
 .imagen5 img {
    margin-top: 100px;
    border-radius: 10px;
     box-shadow: 3px 3px 4px black;
     transition: transform 0.2s;
     cursor: pointer;
 }
 .imagen5 img:hover {
    transform: scale(1.2);
 }
 .imagen6 {
    display: flex;
    justify-content: space-around;
 }
 .imagen6 img {
    margin-top: 100px;
    border-radius: 10px;
     box-shadow: 3px 3px 4px black;
     transition: transform 0.2s;
     cursor: pointer;
 }
 .imagen6 img:hover {
    transform: scale(1.2); 
}
.imagen7 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
 }
 .imagen7 img {
    margin-top: 100px;
    border-radius: 10px;
     box-shadow: 3px 3px 4px black;
     transition: transform 0.2s;
     cursor: pointer;
 }
 .imagen7 img:hover {
    transform: scale(1.2); 
}

#diret  {
    display: flex;
 }
 section.rodape {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 200px;
    margin-bottom: 10px;
   
 }
 section.rodape #diret a {
    text-decoration: none;
    color: #FFD700;
    text-shadow: 2px 2px 2px black;
    margin-left: 20px;
 }
 section.rodape #diret a:hover {
    color: orange;
 }
 section.rodape .social {
    display: flex;
    margin-right: 15px;
    
 }
 
.social img{
     width: 2rem;
      margin-right: 10px;
     
 }


@media(max-width: 1135px) {
    
    section.area_menu {
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    
    section.coment {
        margin-top: 130px;
    }
    .coment p {
        font-size: 1.5rem;
    }
    nav ul li a {
        font-size: 1rem;
    }
    .menu ul li a {
        font-size: 1rem;
    }
    h2.propag {
        font-size: 1.3rem;
    }
    h1 {
        font-size: 3rem;
    }
    .soni_star {
        width: 300px;
        height: 300px;
    }
    .img1 img {
        width: 200px;
    }
    #inform p {
        font-size: 2rem;
    }
    p.pri {
        width: 300px;
        height: 200px;
    }
    p.seg {
    width: 300px;
    height: 200px;
}
}
@media(max-width: 1000px) {
    p.pri {
        width: 250px;
        height: 200px;
    }
    p.seg {
        width: 250px;
        height: 200px;
    }
}
@media(max-width: 920px) {
   
   
    .vip {
        display: flex;
        justify-content: space-evenly;
    }
    
    .menu {
        display: none;
    }
    
          
    .hamburguer {
        display: block;
    }
    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1) {
        transform: translatey(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3) {
        transform: translatey(-8px)  rotate(-45deg);
    }
    .nav-link {
        color: #0b0bb6;
        text-shadow: 2px 2px 2px #fff;
    }
    .nav-menu {
        
        position: fixed;
        left: -100%;
        margin-top: 25px;
        border-radius: 0 0 20px 20px;
        background: #FFD700;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 40px;
        transition: 0.3s;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-itens {
        margin-right: 30px;
        padding: px;
    }
    .coment p {
        font-size: 1.2rem;
        margin: 20px;
    }
    
    .social img {
        width: 1.9rem;
    }
}
@media (max-width: 850px) {
    section.coment {
        display: none;
    }
    #inform p{
        margin-top: 250px;
        font-size: 1.9rem;

    }
    #realize h1 {
        font-size: 1.6rem;
        margin-top: 20px;
    }
}
@media (max-width: 680px) {
    #imagen1 img {
        width: 20rem;
    }
    
    .imagen2   {
       flex-direction: column;
       align-items: center;
    }
    .imagen2 img {
        display: flex;
        justify-content: center;
        width: 400px;
        height: 200px;
       
    }
    @media (max-width: 500px) {
        .area_menu {
            display: flex;
        }
        nav ul li a {
            padding: 0px;
        }
        #inform p {
            font-size: 2rem;
        }
        .imagen2 {
            flex-direction: column;
            align-items: center;
        }
        .imagen2 img {
            margin-bottom: 100px;
            width: 300px;
            height: 150px;
          
        }
        .imagen3 {
            flex-direction: column;
            align-items: center;
        }
        .imagen3 img {
            margin-top: 100px;
            width: 300px;
            height: 150px;
        }
        .imagen4 {
            flex-direction: column;
            align-items: center;
        }
        .imagen4 img {
            
            width: 300px;
            height: 150px;
        }
        .imagen5 {
            flex-direction: column;
            align-items: center;
        }
        .imagen5 img {
            width: 300px;
            height: 150px;
        }
        .imagen6 {
            flex-direction: column;
            align-items: center;
        }
        .imagen6 img {
            width: 300px;
            height: 150px;
        }
        .imagen7 {
            flex-direction: column;
            align-items: center;
        }
        .imagen7 img {
            width: 300px;
            height: 150px;
        }
        #inform p {
            font-size: 1.5rem;
        }
        #logo3 img {
            width: 15rem;
        }
        #alta h1 {
            font-size: 1.7rem;
        }
    }
    @media (max-width: 150px) {
        #inform p {
            font-size: 0.9rem;
        }
        .area_menu {
            display: flex;
        }
        nav ul li a {
            padding: 0px;
        }
    }
    @media (max-width: 150px) {
        #inform p {
            font-size: 0.9rem;
        }
        .area_menu {
            display: flex;
        }
        nav ul li a {
            padding: 0px;
        }
    }
}
 