@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fredoka+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fredoka+One&family=Pacifico&family=Tai+Heritage+Pro:wght@400;700&display=swap');
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#00008B, #0000EE, #00008B);
   
}
#logo {
    display: flex;
    justify-content: center;
}
header {
    margin-bottom: 0px;
}
h1{
    color: #FFD700;
    margin-left: 10px;
    font-size: 4rem;
    text-shadow: 3px 3px 3px #4876FF;
    font-family: Fredoka One, sans-serif;
}
nav {
    display: flex;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    position: relative;
    top: -160px;
    transition: 1s;
    
    
}
nav ul li:hover {
    background: #5858FA;
    
    border-radius: 10px;
}
nav ul li a {
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Fredoka One, sans-serif;
}

#menu  {
    display: flex;
    justify-content: right;
}
#menu ul {
    list-style: none;
    margin-right: 30px;
}
#menu ul li {
    display: inline-block;
    position: relative;
    top: -210px;
   transition: 1s;
    
}
#menu ul li:hover {
    background: #5858FA;
    border-radius: 10px;
}

#menu ul li a{
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: Fredoka One, sans-serif;
}
    
p {
color: white;
font-size: 32px;
text-align: justify;
margin-left: 25px;
position: relative;
top: -500px;
text-shadow: 2px 2px 2px yellow;
padding: 10px;
margin-bottom: 0%;
}
#imagen {
    display: flex;
    justify-content: right;
    align-items: flex-start;
}
.foto1 img {
    position: relative;
    right: -150px;
    top: -100px;
    width: 15rem;
    z-index: 1;
    transition: transform 0.2s; 
    cursor: pointer;
}


.foto1 img:hover {
    transform: scale(1.2);
}
.foto2 img {
    position: relative;
    left: -150px;
    bottom: 20px;
    z-index: 0;
    width: 20rem;
    
}
#imagen1 {
    display: flex;
    justify-content: center;
}
#imagen1 img{
    position: relative;
     top: -300px;
     width: 20rem;
     
}

.inform{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -200px;
    
}
.inform p {
    font-size: 3rem;
}
#imagen2 {
    display: flex;
    justify-content: space-around;

}
#imagen2 img {
    position: relative;
    top: -230px;
    transition: transform 0.2s;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}
#imagen2 img:hover {
    transform: scale(1.2); 
}
#logo2 {
display: flex;
justify-content: center;


}
#logo2 img{
    position: relative;
    top: -100px;
    width: 13rem;
    transition: transform 0.5s;
    cursor: pointer;
    
}
#logo2 img:hover {
    transform: rotateZ(360deg);
}
h3 {
    text-align: center;
    position: relative;
    top: -80px;
    color: white;
    font-size: 2rem;
    text-shadow: 3px 3px 3px black;
}
#imagen3 {
    display: flex;
    justify-content: space-around;
}
#imagen3 img {
    position: relative;
    top: -50px;
     transition: transform 0.2s;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}
#imagen3 img:hover {
    transform: scale(1.2); 
}
#alta h1{
    text-align: center;
}
#imagen4 {
    display: flex;
    justify-content: space-around;
}
#imagen4 img {
    position: relative;
    bottom: -70px;
    border-radius: 10px;
     box-shadow: 3px 3px 4px black;
     transition: transform 0.2s;
     cursor: pointer;
}
#imagen4 img:hover {
    transform: scale(1.2); 
}
#social {
    display: flex;
    justify-content: right;
   
    height: 40px;
   
}
#social img{
    margin-right: 30px;
    width: 2rem;
    position: relative;
    bottom: -200px;
    
    
}
 #diret  {
    display: flex;
 }
 #diret a {
    position: relative;
    bottom: -224px;
    margin-left: 10px;
    text-decoration: none;
    color: #FFD700;
    text-shadow: 2px 2px 2px black;
    
 }
 #diret a:hover {
    color: orange;
 }
 #container {
    display: flex;
    justify-content: center;
 }
 #form {
    width: 400px;
    height: 300px;
    border: 3px solid yellow;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -150px;
    border-radius: 10px;
    background: #0000EE;
 }
 input {
    margin: 10px;
 }
 .cadastro {
    position: relative;
    bottom: -50px;
    
 }
 .cadastro input {
    border-radius: 10px;
    background: #FFD700;
    color: darkblue;
 }
 #realize {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 #realize h1 {
    font-size: 2rem;
    position: relative;
    text-align: justify;
    
 }
 .cadastro #btn {
    display: flex;
    justify-content: center;
    
 }
 #btn button{
    border-radius: 5px;
     background: #4876FF;
     cursor: pointer;
      
 }
 #btn button:hover {
 background: #00008B;
 color: #FFFFFF;
 }
 .btn2 {
    display: flex;
    justify-content: center;
 }
 .btn2 a {
    color: #FFD700;
    position: relative;
    bottom: -10px;
    
 }
 .btn2 a:hover {
    color: #FFFFFF;
 }
 #out {
    display: flex;
    justify-content: right;
 }
 #out a {
    color: white;
    position: relative;
    right: -60px;
    top: -20px;
    text-decoration: none;
    transition: transform 0.2s;
 }
 #out a:hover {
    transform: scale(1.2); 
 }
 #imagen5 {
    display: flex;
    justify-content: space-around;
 }
 #imagen5 img {
    position: relative;
    bottom: -150px;
    border-radius: 10px;
     box-shadow: 3px 3px 4px black;
     transition: transform 0.2s;
     cursor: pointer;
 }
 #imagen5 img:hover {
    transform: scale(1.2); 
}
