@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fredoka+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fredoka+One&family=Pacifico&family=Tai+Heritage+Pro:wght@400;700&display=swap');
body {
    margin: 0px;
    padding: 0px;
    width: auto;
    background-color: blue;
  }
#area_log {
   display: flex;
   justify-content: center;
}
#area_log h1 {
   color: yellow;
   font-size: 4rem;
   font-family: Fredoka One, sans-serif;
   text-shadow: 3px 3px 3px black;
}

#log {
    display: flex;
    justify-content: center;
    position: relative;
   
}
.form1 {
    display: block;
    justify-content: center;
    border: 3px solid yellow;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background: #2a2aff;
    z-index: 0;
  
}

#fig_user {
   display: flex;
   justify-content: center;
   position: relative;
}
#fig_user img {
   position: absolute;
   top: 45px;
   width: 50px;
   height: 50px;
    z-index: 1;
   border: 1px solid yellow;
   width: 50px;
   height: 50px;
   background: yellow;
   border-radius: 50px;
   box-shadow: 3px 3px 4px black;
}

#out {
   display: flex;
   justify-content: right;
  margin-right: 20px;
  margin-top: 20px;
}
#out a {
   
    text-decoration: none;
    color: white;
}
#out a:hover {
  
}

.input {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   padding: 30px;
   position: relative;
}
.input label {
   color: yellow;
   text-shadow: 2px 2px 2px black;
   position: absolute;
   top: 100px;
}

.input input {
   position: absolute;
   top: 119px;
    border-radius: 10px;
    background: yellow;
    color: darkblue;
   
}

#btn1 {
    display: flex;
    justify-content: center;
    position: relative;
}
#btn1 button {
   position: absolute;
   top: 90px;
    background-color: yellow;
    border-radius: 5px;
    cursor: pointer;
}
#btn1 button:hover {
    background: rgb(248, 172, 6);
}


#dica_back {
    display: flex;
    justify-content: right;
    
}

#dica_back ul a {
    position: relative;
    left: -30px;
    text-decoration: none;
    color: #FFF;
    text-shadow: 2px 2px 2px #FFD700;
}
#title_dica h1 {
    color: #FFD700;
    margin-left: 10px;
    font-size: 4rem;
    text-shadow: 3px 3px 3px #4876FF;
    font-family: Fredoka One, sans-serif;
    text-align: center;
 }
 #imagen8 {
   display: flex;
   justify-content: center;
 }
 #dicas_sonic {
    display: flex;
    flex-direction: column;
    color: #FFF;
 }
 #dicas_sonic h1 {
 text-shadow: 2px 2px 2px #FFD700;
 }
 #dicas_sonic p{
    padding: 5px;
 }
 #dicas_sonic h1, h2 {
   text-align: center;
 }
 section.manha-sonic {
   display: flex;
  justify-content: center;
 }
 .dica1 {
    height: 690px;
    border: 2px solid #FFF;
    width: 90%;
    background: #FFD700;
 }
 .dica1 p {
    color: #2a2aff;
    font-size: 1rem;
 }
 #tit_dica1 {
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 2px yellow;
   
 }
 #tit_dica1 h1 {
    font-size: 3rem;
    position: relative;
    bottom: -100px;
    color: #FFF;
 }
 section.subzero {
   display: flex;
   justify-content: center;
   
 }
 
 #dicas_MK-sb {
    display: block;
    position: relative;
    bottom: -200px;
    color: #FFF;
    border: 2px solid white;
    width: 80rem;
    height: 46rem;
   padding: 0;
    
 }
 #dicas_MK-sb h2 {
    text-align: left;
    position: relative;
    bottom: -120px;
   margin-left: 10px;
    
 }
 #dicas_MK-sb p {
    position: relative;
    bottom: -150px;
    margin-left:10px;
 }
 #dicas_MK-sb img {
    position: relative;
    right: -900px;
    top: -450px;
 }
 section.scorpion {
   display: flex;
   justify-content: center;
 }
 #dicas_MK-sc {
    display: block;
    position: relative;
    bottom: -250px;
    color: #FFF;
    border: 2px solid white;
    width: 80rem;
    height: 73rem;
   
 }
 #dicas_MK-sc h2 {
    text-align: left;
    position: relative;
    bottom: -160px;
   margin-left: 10px;
 }
 #dicas_MK-sc p {
    position: relative;
    bottom: -150px;
    margin-left:10px;
 }
 #dicas_MK-sc img {
    position: relative;
    right: -900px;
    top: -950px;

 }
 section.raiden {
   display: flex;
   justify-content: center;
 }
 #dicas_MK-rd {
   display: block;
   position: relative;
   bottom: -300px;
   color: #FFF;
   border: 2px solid white;
   width: 80rem;
   height: 62rem;
 }
 #dicas_MK-rd h2 {
   text-align: left;
    position: relative;
    bottom: -160px;
   margin-left: 10px;

 }
 #dicas_MK-rd p {
   position: relative;
    bottom: -150px;
    margin-left:10px;
 }
 #dicas_MK-rd img {
   position: relative;
   right: -900px;
   top: -650px;

 }
 section.sonia {
   display: flex;
   justify-content: center;
 }
 #dicas_MK-sn {
   display: block;
   position: relative;
   bottom: -345px;
   color: #FFF;
   border: 2px solid white;
   width: 80rem;
   height: 65rem;
 }
 #dicas_MK-sn h2 {
   text-align: left;
    position: relative;
    bottom: -160px;
   margin-left: 10px;

 }
 #dicas_MK-sn p {
   position: relative;
    bottom: -150px;
    margin-left:10px;
 }
 #dicas_MK-sn img {
   position: relative;
   right: -840px;
   top: -750px;
 }
 section.liu-kang {
   display: flex;
   justify-content: center;
 }
 #dicas_MK-LK {
   display: block;
   position: relative;
   bottom: -390px;
   color: #FFF;
   border: 2px solid white;
   width: 80rem;
   height: 45rem;

 }
 #dicas_MK-LK h2 {
   text-align: left;
   position: relative;
   bottom: -160px;
  margin-left: 10px;
 }
 #dicas_MK-LK p {
   position: relative;
    bottom: -150px;
    margin-left:10px;
 }
 #dicas_MK-LK img {
   position: relative;
   width: 25rem;

  right: -800px;
  top: -430px;
   
 }
 #lojas {
   display: flex;
   justify-content: center;
 }
 #lojas h1 {
   color: #FFF;
   font-size: 3rem;
   font-family: Fredoka One, sans-serif;
 }
 #lojas_back {
   display: flex;
   justify-content: right;
   
}

#lojas_back ul a {
   position: relative;
   top: -110px;
   left: -30px;
   text-decoration: none;
   color: #FFF;
   text-shadow: 2px 2px 2px #FFD700;
}
#curi_back {
   display: flex;
   justify-content: right;
}
#curi_back ul a {
   position: relative;
   bottom: -20px;
   left: -30px;
   text-decoration: none;
   color: #FFF;
   text-shadow: 2px 2px 2px #FFD700;
}
#imgpac {
   display: flex;
   justify-content: space-between;
   
}
#imgpac img {
   width: 4rem;
}
.pac1 {
   position: relative;
   bottom: -130px;
   right: -50px;
}
.pac2 {
   position: relative;
   bottom: -130px;
   right: -520px;
}
.pac3 {
   position: relative;
   bottom: -130px;
   left: -20px;
}
#curi1 {
   display: block;
   
}

#curi1 h1 {
   text-align: center;
   font-size: 4rem;
   color: #FFF;
   text-shadow: 1px 1px 3px yellow;
}
#curi1 p {
   text-align: justify;
   color: #FFF;
   font-size: 1.2rem;
   padding: 10px;
}
@media (max-width: 500px) {
   #area_log h1 {
      font-size: 2.8rem;
   }
   .form1 {
      width: 300px;
      height: 500px;
   }
   

   .input {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      position: relative;
   }
   .input label {
      font-size: 1.7rem;
      color: yellow;
      text-shadow: 2px 2px 2px black;
      position: absolute;
      top: 133px;
   }
   .input input {
      position: absolute;
      top: 160px;
       border-radius: 10px;
       background: yellow;
       color: darkblue;
       padding: 5px;
      
   }
   #btn1 button {
      position: absolute;
      top: 160px;
       background-color: yellow;
       border-radius: 5px;
       cursor: pointer;
       width: 100px;
       height: 30px;
   }
}
@media (max-width: 350px) {
   #area_log {
      font-size: 2rem;
   }
}
@media (max-width: 150px) {
   #area_log {
      font-size: 2rem;
   }

   .form1 {
      width: 300px;
      height: 500px;
   }
   

   .input {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      position: relative;
   }
   .input label {
      font-size: 1.7rem;
      color: yellow;
      text-shadow: 2px 2px 2px black;
      position: absolute;
      top: 133px;
   }
   .input input {
      position: absolute;
      top: 160px;
       border-radius: 10px;
       background: yellow;
       color: darkblue;
       padding: 5px;
      
   }
   #btn1 button {
      position: absolute;
      top: 160px;
       background-color: yellow;
       border-radius: 5px;
       cursor: pointer;
       width: 100px;
       height: 30px;
   }
}

